#root {
  max-width: 1519px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Add this media query for mobile devices */
@media (max-width: 400px) {
  #root {
    height: 2400px;
  }
}
/* dinesh */
